.container {
    height: 100vh;

}

.nav-bar {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 350px;
}

.tab-items {
    width: 490px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-info {
    display: flex;
    align-items: center;
    margin-left: 350px;
}

table {
    border: 1px;
}

#paragraph {
    color: rgba(0, 0, 0, 0.5);
}

#browse {
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: rgb(150, 22, 22);
    font-weight: bold;
}

.button2 {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid rgb(186, 183, 183);
    border-radius: 10px;
}

#underline {
    border-bottom-style: solid;
    border-width: 2px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.form {
    width: 85%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drop-image {
    width: 90%;
    height: 80%;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #F6F6F6;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info {
    width: 82%;
    height: 22%;
    display: flex;
    align-items: start;
    align-self: flex-start;
    margin-left: 20px;
}

.user-img {
    width: 90px;
    height: 90px;
    align-items: start;
    margin-left: 30px;
}

.avatar {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    border-radius: 10px;
}

.date {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.label {
    border-radius: 10px;
    width: 88%;
    height: auto;
    margin-left: 12px;
    align-self: flex-start;
    padding-left: 10px;
    margin-top: 30px;
    padding-top: 20px;
    border: 1px solid rgb(186, 183, 183);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.button-place {
    display: flex;
    align-self: self-end;
    margin-top: 5px;
    float: right;
    padding-bottom: 10px;
    margin-right: 30px;
}

.preview {
    width: 55%;
    height: 85%;
    padding-right: 75px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drop-image-preview {
    width: 107%;
    height: 40%;
    padding-top: 20px;
    margin-left: 90px;
    margin-right: 25px;
    border-radius: 10px;
    background-color: #F6F6F6;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar-preview {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    border-radius: 10px;
}

.paragraph-preview {
    text-align: justify;
    font-size: 14px;
}

/* #share {
    width: 75%;
    margin-left: 100px;
} */